<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tell Us About Your Puppy...</title>
    <form action="/" method="POST">
        <p>Name: <input type="text" name="name"></p>
        <p>Breed: <input type="text" name="breed"></p>
        <p>Age: <input type="integer" name="age"></p>
        <input type="submit" value="submit">
    </form>
  </head>
  <body>

  </body>
</html>
