<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Puppyland.com!!!</title>
  </head>
  <body>
    <h1>Welcome to Puppyland!</h1>
    <a href="/new">Click Here To List A Puppy</a>
  </body>
</html>
